<nav class="navbar navbar-expand my-navbar-brand navbar-light bg-light">
  <a class="navbar-brand" href="http://localhost:8080/swagger-ui.html">Expose Swagger</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/add">Add</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/delete">Delete</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/read">Read Item</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/update">Update amount</a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>