<h1 class="my-headline">Add Item</h1>
<form #data="ngForm" (ngSubmit)="onSubmit(data.value)" method="post" class="my-form" ngNativeValidate>
    <input class="my-input" [(ngModel)]="data.amount" type="number" name="amount" placeholder="amount" required>
    <input class="my-input" [(ngModel)]="data.inventory_code" type="number" name="inventory_code"
        placeholder="inventory code" required>
    <input class="my-input" [(ngModel)]="data.item_no" type="number" name="item_no" placeholder="item number" required>
    <input class="my-input" [(ngModel)]="data.name" type="name" type="text" name="name" placeholder="item name"
        required>
    <button class="my-btn btn btn-success" type="submit">Add item</button>
</form>