<form #data="ngForm" (ngSubmit)="onSubmit(data.value)" method="post" ngNativeValidate>
    <input [(ngModel)]="data.amount" type="number" name="amount" placeholder="amount" required>
    <input [(ngModel)]="data.inventory_code" type="number" name="inventory_code" placeholder="inventory code" required>
    <input [(ngModel)]="data.item_no" type="number" name="item_no" placeholder="item number" required>
    <input [(ngModel)]="data.name" type="name" type="text" name="name" placeholder="item name" required>
    <button type="submit">Add item</button>
</form>
